@charset utf-8;
*{margin: 0;padding: 0;box-sizing: border-box;}
a:visited, a:link {text-decoration: none; color:black;}
li {list-style: none;}
.clearfix:before, .clearfix:after {display: block;content:"";clear:both;}