@charset utf-8;

*{margin:0; padding:0; box-sizing:border-box;}
.clearfix:before, .clearfix:after {content:"";clear:both;display:block;}
a:visited, a:link {text-decoration: none; color:black;}
li {list-style: none;}